<h1>Errors#internal_server_error</h1>
<p>Find me in app/views/errors/internal_server_error.html.erb</p>
<!-- <div class="">
  <%= @exception %>
</div>

<div class="">
  <%= @message %>
</div>

<div class="">
  <%= @source_extract %>
</div>

<div class="">
  <%= @backtrace %>
</div> -->
